#poga{
    margin:10px;
}
#tabula{
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
  }
  
  td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
.bildes {
    width:200px;
    height: 200px;
    display: block; 
    margin: 0;
    transform-style: preserve-3d;
  }
